<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DIC Cafe - Contact</title>
    <link rel="stylesheet" href="../Javascript_sample/css/contact_validation.css">
    <script type="text/javascript" src="../javascript/validation.js"></script>
</head>
<body>
    <header>
        <nav>
        <a href="index.html" class="logo"><img src="/images/sample_logo_k.png" alt="DIC Cafe Logo"></a>
          <ul class="global_nav">
            <li class="global_nav_item"><a href="index.html">Home</a></li>
            <li class="global_nav_item"><a href="sale.html">Menu</a></li>
            <li class="global_nav_item"><a href="about.html">About Us</a></li>
            <li class="global_nav_item"><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
    </header>

    <section class="section_inner">
        <h1>CONTACT US</h1>
        <div class="contact-form">
            <form action="#" method="POST" id="form">
        <table class="contact">
          <tr class="contact_line">
            <td class="contact_sign"><label for="name">Name</label></td>
            <td class="contact_input"><input type="text" name="name" id="name"></td>
          </tr>
          <tr class="contact_line">
            <td class="contact_sign"><label for="email">Email</label></td>
            <td class="contact_input"><input type="email" name="email" id="email"></td>
          </tr>
          <tr class="contact_line">
            <td class="contact_sign"><label for="email_confirm">Email (Confirmation)</label></td>
            <td class="contact_input"><input type="email" name="email_confirm" id="email_confirm"></td>
          </tr>
          <tr class="contact_content">
            <td class="contact_sign"><label for="content">Message</label></td>
            <td class="contact_input"><textarea name="content" id="content"></textarea></td>
          </tr>
        </table>
        <div class="contact_btn_area">
          <button type="reset" class="contact_btn reset_btn">Reset</button>
          <button type="submit" class="contact_btn submit_btn">Submit</button>
        </div>
      </form>
        </div>
    </section>

    <!-- Footer section -->
    <footer class="footer">
      <nav class="footer_nav div">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="sale.html">Menu</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <img src="../images/sample_logo_w.png" alt="" class="footer_logo">
      </nav>
      <div>
        <p class="copyright">© DIVE INTO CODE Corp. All RIGHTS RESERVED</p>
      </div>
    </footer>
</body>
</html>